config/token.php
config/config.php

.vscode
.vscode/**
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

vendor/**
cache/**

# Local History for Visual Studio Code
.history/