{% extends "Layout/base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <br />
        <a class="btn btn-primary align-content-center" href="{{ url('auth.auth') }}">Login with Discord</a>
    </div>
</div>
{% endblock %}