{% extends "Layout/base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-12">
        Welcome<br />
        <img src="{{ user.avatar }}" alt="" />
    </div>
</div>
{% endblock %}